body {
  font-family: 'Gotham-Light';
}

label {
  display: flex;
}

.expertise-misc {
  background: #E6F1F7;
  border-radius: 0.5em;
  padding: 1em 2em 0 2em;
  margin-bottom: 2em;
}

.misc-info {
  max-width: 75%;
  margin-top: 40px;
}